.menuItem {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  margin: 0;
  color: inherit;
  font-size: 14px;
  cursor: pointer;
  color: #b2b2b2;
  width: 110px;
}

.active {
  color: white;
}
