.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.zoom {
  transition: transform 0.8s;
  transform: scale(1.3);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
